{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style type="text/css">
    	img{
    		border-radius: 180px;
    	}
    </style>
</head>
<body>
	<div align=center>
		<img src="{% static 'snm.jpg' %}" alt="snm" height="120" width="80">
	    <h1>Hello my name is {{ name }}</h1>
	    <article>NPM : {{ npm }}</article>
	    <article>I am {{ age }} years old</article>
	    <article>I am currently studying Computer Science at {{univ}}</article>
	</div>

	<div align=left>
		<img src="{% static 'supri.jpg' %}" alt="supri" height="100" width="100">
	    <h1>This is {{ sikiri }}</h1>
	    <article>NPM : {{ sikirinpm }}</article>
	    <article>He is {{ sikiri_date }} years old</article>
	    <article>He sat on my left side by the time I finished making this website</article>
	</div>
	<div align=right>
		<img src="{% static 'farhan.jpg' %}" alt="farhan" height="100" width="100">
	    <h1>This is {{ sikanan }}</h1>
	    <article>NPM : {{ sikanannpm }}</article>
	    <article>He is {{ sikanan_date }} years old</article>
	    <article>He sat on my right side by the time I finished making this website</article>
	</div>
</body>
</html> 
